<header>
  <div class="header-container">
    <a href="/" class="icon"><img src="/src/favicon.ico" alt="OyasumiSekai Logo"></a>
    <nav>
      <a href="/about/">About</a>
      <a href="/projects/">Projects</a>
    </nav>
  </div>
</header>